.btn {
    background: #F0F0F0;
    background-image: -webkit-linear-gradient(top, #F0F0F0, #666666);
    background-image: -moz-linear-gradient(top, #F0F0F0, #666666);
    background-image: -ms-linear-gradient(top, #F0F0F0, #666666);
    background-image: -o-linear-gradient(top, #F0F0F0, #666666);
    background-image: linear-gradient(to bottom, #F0F0F0, #666666);
    -webkit-border-radius: 35;
    -moz-border-radius: 35;
    border-radius: 25px;
    border: 0;
    font-family: Arial;
    /* color: #FFFFFF; */
    font-size: 10px;
    padding: 6px;
    text-decoration: none;
}
  
.btn:hover {
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #F0F0F0);
    background-image: -moz-linear-gradient(top, #666666, #F0F0F0);
    background-image: -ms-linear-gradient(top, #666666, #F0F0F0);
    background-image: -o-linear-gradient(top, #666666, #F0F0F0);
    background-image: linear-gradient(to bottom, #666666, #F0F0F0);
    text-decoration: none;
}